- content_for :html_classes do
  splash

%section#l-content.p-about
  .p-a-bg-wrap
    .p-a-bg-container
      = image_tag('splash.jpg', :alt => 'Spread love', :class => 'p-a-bg-img') 

  .p-a-content
    .p-a-details
      %h1.p-a-title In 7 Seconds
      %h1.p-a-subtitle Найди свою любовь за 7 секунд
      %p.p-a-concept
        Мы помогаем людям встретить свою любовь и стать ближе друг к другу.
        Если тебе симпатичен наш проект или ты просто хочешь пообщаться, то пиши нам на почту:
        = succeed ',' do
          %a{:href=>'mailto:' + CONFIG[:contact_email]}= CONFIG[:contact_email]
        и добавляйся к нам в 
        = succeed '.' do
          %a{:href=>'http://vk.com/in7seconds'} группу на ВКонтакте

    .p-a-extras
      = render :partial => 'partials/social'
