%section#l-content.p-index
  .p-i-bg-wrap
    .p-i-bg-container
      = image_tag('splash.jpg', :alt => 'Spread love', :class => 'p-i-bg-img') 

  .p-i-content
    .p-i-phone
      .p-i-p-crop
        %ul.p-i-p-screens
          %li= image_tag('screen-01-568.jpg', :alt => 'Screenshot 1', :class => '.p-i-p-screen')
          %li= image_tag('screen-02-568.jpg', :alt => 'Screenshot 2', :class => '.p-i-p-screen')
          %li= image_tag('screen-03-568.jpg', :alt => 'Screenshot 3', :class => '.p-i-p-screen')
          %li= image_tag('screen-04-568.jpg', :alt => 'Screenshot 4', :class => '.p-i-p-screen')
          %li= image_tag('screen-05-568.jpg', :alt => 'Screenshot 5', :class => '.p-i-p-screen')
      = image_tag('iphone.png', :alt => 'iPhone', :class => 'p-i-p-front') 

    .p-i-desc
      %h1 in 7 Seconds

      %strong Найди новых друзей за 7 секунд
      %small
        In 7 Seconds показывает тебе интересных людей неподалеку, а ты просто отмечаешь тех, кто тебе симпатичен.
        Думать нужно быстро, у тебя будет всего 7 секунд на то, чтобы понять, нравится тебе человек, или нет.
        Если симпатия взаимна, то мы вас познакомим и поможем растопить лед.
        Для того, чтобы начать, тебе нужно просто авторизоваться с помощью ВКонтакте.

= render :partial => 'layouts/footer'
