:javascript
  var app = {
    env: {
      debug: #{CONFIG[:debug]? 'true' : 'false'},
      vk_app_id: #{CONFIG[:vk_app_id]},
      host: '#{CONFIG[:host]}'
    },
    endpoints: {
      user: '/api/user/'
    },
    user: {
      name: 'awesome name',
      photo: 'http://...'
    },
    settings: {
      interested: 'male'
    },
    collections: {},
    models: {},
    modules: {},
    views: {}
  };
%script{:src=>"//vk.com/js/api/openapi.js?79"}
%script{:src=>"//vk.com/js/api/share.js?9"}
= render :partial => 'layouts/analytics'
= javascript_include_tag 'application'
