:javascript
  var app = {
    env: {
      debug: #{Rails.env.development? ? 'true' : 'false'},
      vk_app_id: #{CONFIG[:vk_web_app_id]},
      host: '#{CONFIG[:host]}'
    },
    endpoints: {
      profile: '/users/update_user',
      hookups: '/users/hookups.json',
      matches: '/users/matches.json',
      like: '/users/:id/flirt',
      dislike: '/users/:id/reject'
    },
    user: #{current_user_json},
    collections: {},
    models: {},
    modules: {},
    views: {}
  };
%script{:src=>"//vk.com/js/api/openapi.js?79"}
%script{:src=>"//vk.com/js/api/share.js?9"}
= render :partial => 'layouts/analytics'
= javascript_include_tag 'application'
