!!!
%html.no-js{:class=>(yield :html_classes).blank? ? nil : (yield :html_classes), :lang=>'ru-RU'}
  %head
    = render :partial => 'layouts/meta'

  %body
    #l-wrap
      %header#l-header
        = render :partial => 'layouts/header'

      #l-content{:class=>(yield :content_classes).blank? ? nil : (yield :content_classes)}
        = yield
      #l-footer-push
    %footer#l-footer
      = render :partial => 'layouts/footer'

    #l-notifications

    :javascript
      var app = {
        env: {
          debug: true // get from current env!
        },
        endpoints: {
          user: '/api/user/'
        },
        user: {
          name: 'awesome name',
          photo: 'http://...'
        },
        settings: {
          interested: 'male'
        },
        controllers: {},
        models: {},
        modules: {}
      };
    %script{:src=>"//vk.com/js/api/openapi.js?79"}
    %script{:src=>"//vk.com/js/api/share.js?9"}
    = render :partial => 'layouts/analytics'
    = javascript_include_tag 'application'
