!!!
%html.no-js{:class=>(yield :html_classes).blank? ? nil : (yield :html_classes), :lang=>'ru-RU'}
  %head
    = render :partial => 'layouts/meta'

  %body
    #l-wrap
      = render :partial => 'layouts/header'
      #l-content{:class=>(yield :content_classes).blank? ? nil : (yield :content_classes)}
        = yield
      #l-footer-push

    #l-notifications
    
    = render :partial => 'layouts/footer'
    = render :partial => 'layouts/javascripts'
